.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 10px;
  font-size: 18px;
}

.form span {
  font-size: 12px;
  color: red;
}

.form button {
  margin-top: 20px;
}

.input {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #1565c0;
}

.input:focus {
  outline: 1px solid #1565c0;
}
