@import-normalize; /* bring in normalize.css styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

a {
  font-family: 'Roboto', sans-serif;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  color: red;
}

a.active {
  color: red;
}

.user_nav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.nav {
  display: flex;
  gap: 10px;
}

/* =============== HOME ============ */

.home_title {
  text-align: center;
  color: #1565c0;
}

.home_img {
  margin: 0 auto;
}

/* ==================FORM =================*/

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.form label {
  margin-bottom: 10px;
  font-size: 18px;
}

.form span {
  font-size: 12px;
  color: red;
}

.form button {
  margin-top: 20px;
}

.input {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #1565c0;
}

.input:focus {
  outline: 1px solid #1565c0;
}
