.wrapper {
  display: flex;
  justify-content: space-between;
}

.items {
  list-style: none;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-right: auto;
}
